<mat-progress-bar
  mode="query"
  id="query-progress-bar"
  *ngIf="showQueryBar"
></mat-progress-bar>
<form
  id="search-bar-container"
  [ngClass]="animationToggle ? 'bar-on-top' : 'bar-center'"
>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Subject</mat-label>
    <input
      type="search"
      placeholder="Pick one"
      aria-label="Subject"
      matInput
      [formControl]="searchField"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button
    mat-icon-button
    (click)="getBooksList()"
    aria-label="Search button"
    matSuffix
  >
    <mat-icon>search</mat-icon>
  </button>
</form>
